<%= erb :"common/header" %>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/pages/welcome.css" rel="stylesheet">

<!-- Header -->
<header class="w3-center" style="padding:128px 16px; background-image:url('https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/02/GettyImages-1172277530-1920x1152.jpg')">
  <h1 class="w3-margin w3-jumbo">Welcome to EdFlix</h1>
  <p class="w3-xlarge">“HELPING LEARNERS TO DISCOVER ONLINE TRAINING”</p>
  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top btn btn-primary"  href="/sign-up" role="button">Get Started</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Welcome!</h1>

      <p class="w3-text-grey">
        We are happy to welcome you to our community, which is devoted to empowering people through
        the realm of online learning. Our goal is to accompany you on this thrilling journey as you pursue
        your personal and professional goals in the digital era. We are here to give you access to a wide
        range of resources, insightful information, and a helpful network, whether you&#39;re a lifelong learner
        trying to expand your knowledge or a working professional looking to improve your abilities. Prepare
        yourself to reach your full potential, widen your horizons, and engage in a life-changing learning
        experience. Let&#39;s explore the countless opportunities that online training has to offer together!
      </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Opportunities!</h1>

      <p class="w3-text-grey">
        You can access a wealth of intriguing opportunities by browsing our website. You can choose from a
        wide range of online training courses here that are suited to your individual requirements and
        interests. We offer a wide variety of courses to suit your interests, whether you want to learn a new
        language, delve into data analytics, develop coding abilities, or even study specialised fields like
        culinary arts or graphic design. Our platform offers you a rich and engaging learning environment by
        bringing together knowledgeable professors, business leaders, and cutting-edge educational
        materials. You&#39;ll also get access to interactive forums and communities where you can communicate
        with other students, work on projects together, and get advice from qualified mentors. The
        opportunities for both personal and professional growth are endless with our comprehensive
        approach to online training. Get ready to set off on a fascinating adventure of learning, discovery,
        and skill development.
      </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Haha</h1>
</div>

<%= erb :"common/footer" %>
