<%= erb :"common/user/user_header_dashboard" %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header" style="margin-top:10px;">Supports</h2>
          <div class="table-responsive">
            <table class="table table-striped">
            <h5>Need a support? Click <a href="/contact">here</a> to raise ticket.</h5>
              <div style="margin-top: 40px"></div>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Subject</th>
                  <th>Status</th>
                  <th>Updated At</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Pending</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Pending</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Closed</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Closed</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Pending</td>
                  <td>25/3/2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

<%= erb :"common/user/user_footer_dashboard" %>

