<%= erb :"common/user/user_header_dashboard" %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">My Progress</h2>
          <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h4 font-weight-bold mb-0">Foundation of Computer Science</span>
                                <p class="card-title text-uppercase text-muted mb-0">The University of Sheffield</p>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <a href="#" class="btn btn-primary btn-sm float-right">Resume Course</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h4 font-weight-bold mb-0">Foundation of Computer Science</span>
                                <p class="card-title text-uppercase text-muted mb-0">The University of Sheffield</p>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <a href="#" class="btn btn-primary btn-sm float-right">Resume Course</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h4 font-weight-bold mb-0">Foundation of Computer Science</span>
                                <p class="card-title text-uppercase text-muted mb-0">The University of Sheffield</p>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <a href="#" class="btn btn-primary btn-sm float-right">Resume Course</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h4 font-weight-bold mb-0">Foundation of Computer Science</span>
                                <p class="card-title text-uppercase text-muted mb-0">The University of Sheffield</p>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <a href="#" class="btn btn-primary btn-sm float-right">Resume Course</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
          <h3 class="sub-header">Latest Updates</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Subject</th>
                  <th>Category</th>
                  <th>Updated At</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Info</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Info</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Info</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Info</td>
                  <td>25/3/2023</td>
                </tr>
                <tr>
                  <td>T01</td>
                  <td>Your subject recommendation has been added to the course browser</td>
                  <td>Info</td>
                  <td>25/3/2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

<%= erb :"common/user/user_footer_dashboard" %>

