<%= erb :"common/user/user_header_dashboard" %>
<link href="css/pages/notification.css" rel="stylesheet">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <section>
    <div class="container">
        <h2 class="page-header">Notifications</h2>
        <div class="notification-ui_dd-content">
            <div class="notification-list notification-list--unread">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="https://picsum.photos/150?image=641" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>John Doe</b> reacted to your post</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                        <p class="text-muted"><small>10 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="https://picsum.photos/150?image=641" alt="Feature image">
                </div>
            </div>
            <div class="notification-list notification-list--unread">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="https://picsum.photos/150?image=641" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Richard Miles</b> liked your post</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                        <p class="text-muted"><small>10 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="https://picsum.photos/150?image=641" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="https://picsum.photos/150?image=641" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Brian Cumin</b> reacted to your post</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                        <p class="text-muted"><small>10 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="https://picsum.photos/150?image=641" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="https://picsum.photos/150?image=641" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Lance Bogrol</b> reacted to your post</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                        <p class="text-muted"><small>10 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="https://picsum.photos/150?image=641" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="https://picsum.photos/150?image=641" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Parsley Montana</b> reacted to your post</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                        <p class="text-muted"><small>10 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="https://picsum.photos/150?image=641" alt="Feature image">
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#!" class="dark-link">Load more activity</a>
        </div>

    </div>
</section>
</div>
<%= erb :"common/user/user_footer_dashboard" %>
